@model KittenJournal.Models.ViewModels.FosterViewModel

@{
    ViewData["Title"] = "Details";
}

    <h1>
        @Html.DisplayFor(model => model.foster.Name)
    </h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.foster.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foster.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foster.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foster.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foster.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foster.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foster.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foster.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foster.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foster.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foster.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foster.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foster.PhoneNumber)
        </dd>
    </dl>
</div>
<h5>Kittens</h5>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Current Weight
            </th>
            <th>
                Sex
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.kittens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    <a asp-controller="Kittens" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-controller="Kittens" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-controller="Kittens" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
