@model KittenJournal.Models.ViewModels.KittenViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>
    @Html.DisplayFor(model => model.Kitten.Name)
</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Kitten.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitten.CurrentWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitten.CurrentWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitten.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitten.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foster.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foster.Name)
        </dd>
    </dl>
</div>
<h5>Feedings</h5>
<div>
    <a asp-controller="Feedings" asp-action="Create" asp-route-KittenId="@Model.Kitten.Id" class="btn btn-primary">New Feeding</a>
</div>
<div></div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Starting Weight</th>
                <th>Ending Weight</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in Model.Feedings)
            {
                <tr>
                    <td>@f.Timestamp</td>
                    <td>@f.StartingWeight</td>
                    <td>@f.EndWeight</td>
                    <td>
                        <a asp-controller="Feedings" asp-action="Edit" asp-route-id="@f.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Feedings" asp-action="Delete" asp-route-id="@f.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

</div>
</table>